<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CRUD Vue.js</title>
</head>
<body>

  <div id="app">
      <div><input v-model="prefix" placeholder="Префикс фильтрации"></div>

      <select size="5" v-model="selected">
        <option v-for="task in filteredTasks" :key="task">{{ task }}</option>
      </select>

      <label>Имя: <input v-model="taskName"></label>
      <select v-model="taskType" class="taskType" name="taskType">
        <option value="business">Деловое</option>
        <option value="personal">Личное</option>
      </select>

      <div class="buttons">
          <button @click="create">Создать</button>
          <!-- <button @click="update">Обновить</button> -->
          <button @click="del">Удалить</button>
      </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="script.js"></script>
</body>
</html>
